################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/EasyForm/.vs/EasyForm
/EasyForm/EasyForm.Core/bin/Debug/netstandard2.0
/EasyForm/EasyForm.Core/obj
/Sample/Sample/obj
/Tests/EasyForm.UnitTests/obj
/Tests/EasyForm.UnitTests/bin/Debug/netcoreapp3.1
/Tests/EasyForm.Core.UnitTests/bin/Debug/netcoreapp3.1
/Tests/EasyForm.Core.UnitTests/obj
/EasyForm/EasyForm.EntityFrameCore/bin/Debug/netstandard2.0
/EasyForm/EasyForm.EntityFrameCore/obj
/EasyForm/TestResults/270f48fe-c487-4294-8eb5-710e0c68b347
/Sample/Sample/bin/Debug/netcoreapp3.1
