################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/EasyForm/.vs/EasyForm
/EasyForm/EasyForm.Core/bin/Debug/netstandard2.0
/EasyForm/EasyForm.Core/obj
/Sample/Sample/obj
